header {
    background-color:rgb(82, 198, 72);
    padding:5%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: row;
    min-width: 60px;
    list-style-type: none;
    justify-content: space-between;
    }

.menu_link{
    padding:20px;
}
    
.menu_link:hover{
    color: rgb(255, 255, 255);
}

.fiche {
    background-color: rgb(170, 255, 186);
    padding:3%;
    width: 30%;
    margin :2%;
}

.fiche:hover {
    background-color: rgb(132, 255, 154);
}

footer nav svg {

    width: 4%;
    margin-top: 1%;

}

footer nav {

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

}

footer {

    position: fixed;
    height: 50px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

}

body {
    margin-bottom:50px;
}

#searchbar {

    border-radius: 10px;
    border-width: 1px;
    padding: 1%;

}

.div_fav svg{

    width: 10%;

}