header {
    background-color:rgb(82, 198, 72);
    padding:5%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: row;
    min-width: 60px;
    list-style-type: none;
    justify-content: space-between;
    }

.menu_link{
    padding:20px;
}
    
.menu_link:hover{
    color: rgb(255, 255, 255);
}

.fiche {
    background-color: rgb(170, 255, 186);
    padding:3%;
    width: 30%;
    margin :2%;
}

.fiche:hover {
    background-color: rgb(132, 255, 154);
}