header {
    background-color:rgb(82, 198, 72);
    padding:5%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: row;
    min-width: 60px;
    list-style-type: none;
    justify-content: space-between;
    }

.menu_link{
    padding:20px;
}
    
.menu_link:hover{
    color: rgb(255, 255, 255);
}

.fiche {
    background-color: #ff88b0;
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding:3%;
    width: 30%;
    margin :2%;
    transition: 0.5s;
}

.fiche:hover {
    background-color: #fe9ebe;
    transition: 0.5s;
}

footer nav svg {

    width: 4%;
    margin-top: 0.6%;

}

footer nav {

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

}

footer nav {

    position: fixed;
    height: 10%;
    background-color: white;
    border-radius: 5px;
    bottom: 2%;
    left: 2%;
    right: 2%;
    margin-bottom: 0px;

}

body {
    margin-bottom:50px;
    background-color: #ff8fb4;
}

#searchbar {

    border-radius: 10px;
    border-width: 1px;
    padding: 1%;

}

.div_fav svg{

    width: 10%;

}